@charset "utf-8";
/* CSS Document */

body{font-family:roboto;}

p{font-size: 24px;}

.span1{padding: 25px;
    background-color: #ec008c;
    color: white;
margin:0 auto;
width:50%;}


.span2{padding: 25px;
    background-color: #27aae1;
    color: white;
margin:0 auto;
width:50%;}

.button{background-color: #27aae1;
    padding: 10px;
    border-radius: 10px;
    color: white;}

.home-button{background-color:#27aae1; border:none;padding: 6px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 600;}